<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>hanna.nathan.set-raw-photos-to-readonly</string>

	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>-c</string>
		<string>-l</string>
		<string>$HOME/bin/set-raw-photos-to-readonly</string>
	</array>

	<!-- <key>RunAtLoad</key>
	<true/> -->

    <key>ThrotteInterval</key>
    <integer>0</integer> <!-- run at most every 0 seconds, by default 10 -->

	<key>UserName</key>
	<string>nathan</string>

	<key>GroupName</key>
	<string>staff</string>
</dict>
</plist>
